%hr
%section.section-container
  %h1.primary-heading
    A Celebration of Everything Entrepreneurial in Denver
    %br
    September 16 &mdash; 21, 2013
  %div.p-copy
    Denver’s momentum is making headlines around the nation. To showcase Denver’s opportunities to the future work force and the world, Denver is hosting the second annual Denver Startup Week, September 16-21, 2013 and the event showcases the entrepreneurs, employees and the startup companies fueling innovation in Denver.  Organized by the Downtown Denver Partnership, Colorado Technology Association, and the Denver community, Denver Startup Week is a platform to convene all those who are building startups, want to build startups and want to be involved in the community.   With hundreds of activities and events over a period of six days, there is something for anyone who wants to engage in Denver’s entrepreneurial ecosystem. The week includes workshops, mentor office hours, resource fairs, hack-a-thons, happy hours and more.  Get involved and be a part of the community!
  %h3.secondary-heading
    Save the date for 2013. Mark your calendars. September is going to be the month of Denver Startups!

%section.section-container.module-ctas
  %ul.module-list
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-bulb.dswacon-combo-primary
        %h3.primary-heading.cta-heading Submit an Idea
        %div.cta-copy Have a kick-ass idea for a session, panel, workshop, or social event? Submit it here for consideration for the 2013 program.
      = link_to 'Our call for sessions is now closed', '#', class: 'btn cta-btn disabled'
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-vote-yes.dswacon-combo-secondary
        %h3.primary-heading.cta-heading View / Vote
        %div.cta-copy We want your feedback! Tell us what sessions you're interested in and want to see in the 2013 schedule.
      = link_to 'Check out the proposals', main_app.submissions_path, class: 'btn btn-secondary cta-btn'

%hr

%section.section-container.module-involved
  %h2.primary-heading Stay In Touch

  = simple_form_for NewsletterSignup.new, url: main_app.newsletter_signups_path, html: { class: 'dsw-form involve-form', role: 'form', data: { bindable: 'newsletter-signup' } } do |f|
    %fieldset
      = f.input   :first_name, placeholder: 'First Name', required: true
      = f.input   :last_name, placeholder: 'Last Name', required: true
      = f.input   :email, placeholder: 'E-mail Address', label: 'E-mail Address', required: true
      -# = f.input   :company, label: 'Company', required: true
    .form-actions
      = f.button :submit, 'Join Mailing List', class: 'btn'
    .notification(style="display: none;")
