%hr
%section.section-container
  %h2.primary-heading Coming September 16 &mdash; 21, 2013

%hr
%section.section-container.module-ctas
  %ul.module-list
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-bulb.dswacon-combo-primary
        %h3.primary-heading.cta-heading Submit Idea
        %div.cta-copy Have an idea for a session?
      = link_to 'Get Started', main_app.new_submission_path, class: 'btn cta-btn'
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-plus.dswacon-combo-secondary
        %h3.primary-heading.cta-heading View / Vote
        %div.cta-copy View and vote on session ideas.
      %button.btn.btn-secondary.cta-btn(href="#") Coming Soon

%hr

%section.section-container.module-involved
  %h2.primary-heading Stay In Touch

  = simple_form_for NewsletterSignup.new, url: main_app.newsletter_signups_path, html: { class: 'dsw-form involve-form', role: 'form', data: { bindable: 'newsletter-signup' } } do |f|
    %fieldset
      = f.input   :first_name, placeholder: 'First Name', required: true
      = f.input   :last_name, placeholder: 'Last Name', required: true
      = f.input   :email, placeholder: 'E-mail Address', label: 'E-mail Address', required: true
      -# = f.input   :company, label: 'Company', required: true
    .form-actions
      = f.button :submit, 'Join Mailing List', class: 'btn'
    .notification(style="display: none;")
