%hr
%section.module-tab(data-bindable="module-tab")
  = render_region :dsw_about_header, tag: 'h2', html: { class: 'module-primary-heading' } do
    About Denver Startup Week
  %article#dsw_what.tab-panel.fade.in.active
    = render_region :dsw_what_header, tag: 'h3', html: { class: 'module-secondary-heading' } do
      What is Denver Startup Week?
    = render_region :dsw_what_copy, tag: 'div', html: { class: 'p-copy' } do
      Denver Startup Week is a celebration of everything entrepreneurial in Denver. Denver has a rich history of entrepreneurship and this week long event will showcase Denver’s entrepreneurial community with an emphasis on technology, design, social entrepreneurship and business. The event is intended to unite the entrepreneurial community in Denver and will celebrate the great companies, innovation and ideas happening in the City and the people and inspiration behind them.

  %article#dsw_why.tab-panel.fade
    = render_region :dsw_why_header, tag: 'h3', html: { class: 'module-secondary-heading' } do
      Why Denver Startup Week?
    = render_region :dsw_why_copy, tag: 'div', html: { class: 'p-copy' } do
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %article#dsw_when.tab-panel.fade
    = render_region :dsw_when_header, tag: 'h3', html: { class: 'module-secondary-heading' } do
      When is Denver Startup Week?
    = render_region :dsw_when_copy, tag: 'div', html: { class: 'p-copy' } do
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %nav.tab-navigation
    %a.btn.active(href="#dsw_what") What is Denver Startup Week?
    %a.btn(href="#dsw_why") Why Denver Startup Week?
    %a.btn(href="#dsw_when") When is Denver Startup Week?

%hr

%section.module-bios
  %h2.module-primary-heading Those Involved
  = render_region :involved_bios, tag: 'ol', region_type: 'snippets', html: { class: 'bio-list' }

%hr

%section.module-involved
  %h2.module-primary-heading Get Involved
  %form.dsw-form(role="form")
    %fieldset
      .control-group
        %label.control-label(for="involve_name") Name
        .controls
          %input#involve_name(type="text" placeholder="Name")
      .control-group
        %label.control-label(for="involve_email") Email
        .controls
          %input#involve_email(type="email" placeholder="Email Address")
      .control-group
        %label.control-label(for="involve_company") Company
        .controls
          %input#involve_company(type="text" placeholder="Company")
    .form-actions
      %input.btn(type="submit" value="Get Involved")

