%hr
%section.section-container
  %h1.primary-heading Coming September 16 &mdash; 21, 2013
  %div.p-copy
    Our call for sessions is now closed. Thanks to everyone who submitted session proposals for our Business, Design, Tech, Manufacturing, and Social Enterprise. We'll be opening up our panel picker for feedback and voting shortly - stay tuned!

%section.section-container.module-ctas
  %ul.module-list
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-bulb.dswacon-combo-primary
        %h3.primary-heading.cta-heading Submit an Idea
        %div.cta-copy Have an idea for a session?
      = link_to 'Our call for sessions is now closed', '#', class: 'btn cta-btn disabled'
    %li.cta
      %div.cta-content-cell
        %div.dswacon.dswacon-vote-yes.dswacon-combo-secondary
        %h3.primary-heading.cta-heading View / Vote
        %div.cta-copy View and vote on session ideas.
      %a.btn.btn-secondary.cta-btn.disabled(href="#") Opening Shortly

%hr

%section.section-container.module-involved
  %h2.primary-heading Stay In Touch

  = simple_form_for NewsletterSignup.new, url: main_app.newsletter_signups_path, html: { class: 'dsw-form involve-form', role: 'form', data: { bindable: 'newsletter-signup' } } do |f|
    %fieldset
      = f.input   :first_name, placeholder: 'First Name', required: true
      = f.input   :last_name, placeholder: 'Last Name', required: true
      = f.input   :email, placeholder: 'E-mail Address', label: 'E-mail Address', required: true
      -# = f.input   :company, label: 'Company', required: true
    .form-actions
      = f.button :submit, 'Join Mailing List', class: 'btn'
    .notification(style="display: none;")
