%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container.width-constrained
      %h1.primary-heading#generic_heading(data-mercury="full")><
        = render_region "generic_heading" do
          Page Heading
      %div.p-copy#generic_copy(data-mercury="full")
        = render_region "generic_copy" do
          Coming Soon
      - 6.times do |i|
        %h3.secondary-heading(data-mercury="full")><
          = render_region "generic_heading_#{i}" do
            Page Heading
        %div.p-copy(data-mercury="full")
          = render_region "generic_copy_#{i}" do
            Coming Soon
= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
