%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container
      %h1.primary-heading Registration is closed
      %div.p-copy-centered
        Thanks for your interest in attending Denver Startup Week. Registration for #{current_year} is currently closed.

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
