%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %hr
    %section.section-container
      %h1.primary-heading
        You are now registered for DSW #{current_year}!
      %div.p-copy-centered#generic_copy
        %br
        Thanks for registering! We look forward to seeing you in September.
        %br
        Be sure to check back often - we'll be announcing additional details about the week soon!
        %br
        If you have any questions, comments, or concerns, please <a href="/faq">check out the FAQ</a> or  <a href="mailto:info@denverstartupweek.org">email us</a>.
        %br

      %div.p-copy-centered#generic_copy
        %a.btn.btn-primary(href="#{schedules_path}")<> Next Step: Build Your Schedule

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
