%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container.module-form{:style => "background-image: url(\"/assets/landing_2014/background#{(1..10).to_a.sample}.jpg\")"}
      %div.form-carousel(data-bindable="dsw-carousel" data-keyboard="false" data-activate="0")
        %div.form-carousel-inner
          - if current_user
            = simple_form_for @registration, url: registration_path, method: :post, html: { class: 'dsw-form', role: 'form' } do |f|
              %article.form-pane
                %div.form-contents
                  %div.dswacon.dswacon-bulb.dswacon-combo-primary
                  = content_for :registration_explanation do
                    %h3.primary-heading Register to Attend
                    .p-copy
                      Denver Startup Week is an event by and for the entrepreneurial community.
                    .p-copy
                      %strong It's open to anyone and everyone, and registration is totally free!
                    .p-copy
                      We just need a bit more information from you in order to proceed.
                    .p-copy Questions? Comments? Concerns? Check out our #{link_to 'FAQ', '/frequently-asked-questions'}.
                  = content_for :registration_explanation
                %button.btn.btn-primary.form-btn.advance-btn(href="#") Get Started
              %article.form-pane
                %div.form-contents
                  %div.dswacon.dswacon-bulb.dswacon-combo-primary
                  %h3.primary-heading Tell Us About Yourself
                  .p-copy
                    We want to make sure that we're doing the best job possible of providing relevant and engaging sessions to our attendees.
                  .p-copy
                    The more you're willing to tell us, the more tuned we can make our sessions.
                  = field_set_tag do
                    = f.input :track_id, as: :select, collection: tracks_for_select, prompt: 'Which track are you most interested in?', include_blank: 'I\'m not sure', error: false
                    = f.input :primary_role, placeholder: 'What is your primary job function (e.g. designer, developer, operations)?'
                    = f.input :zip, placeholder: 'What is your home ZIP code?'
                    = f.input :gender, as: :select, collection: [ 'Male', 'Female', 'Decline to say' ], prompt: 'What gender do you identify as?'
                %button.btn.btn-primary.form-btn.advance-btn(href="#") Next
              %article.form-pane
                %div.form-contents
                  %div.dswacon.dswacon-vote-yes.dswacon-combo-primary
                  %h3.primary-heading Confirm &amp; Submit
                  .p-copy
                    Please confirm your contact e-mail address. We'll use this to send you updates as the event gets closer.
                  = field_set_tag do
                    = f.input :contact_email, placeholder: 'E-mail'
                  .p-copy
                    Once your registration is submitted, you will receive an e-mail confirmation from us.
                = f.button :submit, 'Submit', class: 'btn btn-primary form-btn'
          - else
            %article.form-pane
              %div.form-contents
                %div.dswacon.dswacon-bulb.dswacon-combo-primary
                %h3.primary-heading Get Started
                %div.p-copy You'll need to sign in to get going. You can create an account or sign in with LinkedIn.
              %a.btn.btn-primary.form-btn(href="#{new_user_registration_path}") Create an account
        %div.carousel-controls
= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
