%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container.width-constrained-wide
      %h2.primary-heading Build Your Schedule for #{current_year}
      %p.schedule-subheading
        With <strong>#{@sessions.size} events in the #{current_year} schedule</strong> (and more being added each day), there's something for everyone!
      %p.schedule-subheading
        Please note that the schedule builder is your own planning convenience, and does not guarantee you a space at any event. Unless otherwise noted, all event admittance is on a first-come, first-served basis. Please plan to arrive to your events a few minutes early!

      - if signed_in? && !registered?
        %p.schedule-subheading
          All events are free, but registration is required.
        %a.btn.btn-secondary.form-btn(href="#{register_path}")<> Register for #{current_year}!
      - if !signed_in?
        %p.schedule-subheading
          All events are free, but registration is required.
        = link_to 'Login and register for DSW', new_user_session_path, class: 'btn btn-primary form-btn'

      - if registered?
        %div.control-group.schedule-switcher-dropdown
          %div.controls
            %div.drop-select(data-bindable="drop-select")
              - if @my_schedule
                %button.drop-toggle View My Schedule <span class="tagged-as"></span><span class="drop-caret"></span>
                %ul.drop-menu.menu-sort(role="menu")
                  %li= link_to 'View All Events', schedules_path
              - else
                %button.drop-toggle View All Events <span class="tagged-as"></span><span class="drop-caret"></span>
                %ul.drop-menu.menu-sort(role="menu")
                  %li
                    = link_to 'View My Schedule', my_schedule_path, data: {'allow-default' => true }

      - if @my_schedule
        %div.p-copy
          = link_to 'Save schedule to Google Calendar', "https://www.google.com/calendar/render?cid=#{schedule_feed_url(id: current_registration.calendar_token, format: :ics)}"
          &nbsp; | &nbsp;
          = link_to 'Download schedule for Outlook/iCal', schedule_feed_path(id: current_registration.calendar_token, format: :ics)

      %nav.schedule-tabs(data-bindable="schedule-track-filter" data-filter-element-class="schedule-module")<>
        - Track.in_display_order.each do |t|
          %button.btn(href="#" data-track="#{t.name}")<>= t.name

      %section
        %ol.module-list(data-bindable="schedule-addable-modules")
          - @sessions.group_by {|s| s.start_day }.sort_by { |d,s| d }.each_with_index do |(day,submissions_by_day),index|
            %div.module-group-header.schedule-header<>
              %span.schedule-day= Submission::DAYS[day]
              %span.schedule-date= formatted_start_date_for_index(index)
            = render partial: 'submission', collection: submissions_by_day.sort_by(&:start_hour), cache: lambda { |s| [ s, registered?, registered_for_session?(s) ] }


= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
