%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container.width-constrained
      %h2.primary-heading Build your schedule for #{current_year}!

      - unless registered?
        %a.btn.btn-secondary.form-btn(href="#{new_registration_path}")<> Register
        %a.btn.btn-primary.form-btn(href="/auth/linkedin?origin=#{schedules_path}") Login

      %div.p-copy
        Login or register now to start building your personal itinerary.
        The schedule builder is for your convenience only and does not guarantee a seat at the event.
        Event seats are based upon a first-come, first-serve basis, so please plan to arrive to your session a few minutes early.

      %nav.schedule-tabs(data-bindable="schedule-track-filter" data-filter-element-class="schedule-module")<>
        - Track.all.each do |t|
          %button.btn(href="#" data-track="#{t.name}")<>= t.name

      %section
        %ol.module-list
          - @sessions.group_by {|s| s.start_day }.sort_by { |d,s| d }.each do |day,submissions_by_day|
            %div.module-group-header.schedule-header<>
              %span.schedule-day= Submission::DAYS[day]
              %span.schedule-date September 15, 2014
            - submissions_by_day.sort_by(&:start_hour).each do |submission|
              %li.schedule-module.module(id="submission_module_#{submission.id}" data-track="#{submission.track.name}")
                %div.module-contents.schedule-module-contents
                  %header.schedule-module-header
                    %a.dswacon.dswacon-panel-icon(class="dswacon-#{submission.track.icon}" title="#{submission.track.name}")
                    %h3.module-heading.panel-title
                      = link_to truncate(submission.title, length: 100, separator: ' '), schedule_path(submission)
                  %footer.schedule-module-footer
                    - if registered?
                      %a.dswacon(title="Add to My Schedule")
                    - if submission.start_hour && submission.end_hour
                      - if submission.has_time_set?
                        %span.schedule-time= human_time_range(submission)
                        %br
                        %span.schedule-location-name= submission.human_location_name
                      - else
                        %span.schedule-location-name= submission.human_location_name


= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
