%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container.width-constrained
      %h2.primary-heading Build your schedule for #{current_year}!

      - if signed_in? && !registered?
        %a.btn.btn-secondary.form-btn(href="#{new_registration_path}")<> Register for DSW 2014
      - if !signed_in?
        %a.btn.btn-primary.form-btn(href="/auth/linkedin?origin=#{schedules_path}") Login and register for DSW 2014

      %div.p-copy
        Please note that the schedule builder is for your convenience only and does not guarantee a seat at the event.
        %br
        Event capacity is on a first-come, first-serve basis unless noted otherwise - so please plan to arrive to your session a few minutes early.
        %br
        Please keep checking back, new sessions will be added regularly leading up to the week.

      - if registered?
        %div.control-group.schedule-switcher-dropdown
          %div.controls
            %div.drop-select(data-bindable="drop-select")
              - if @my_schedule
                %button.drop-toggle View My Schedule <span class="tagged-as"></span><span class="drop-caret"></span>
                %ul.drop-menu.menu-sort(role="menu")
                  %li= link_to 'View All Events', schedules_path
              - else
                %button.drop-toggle View All Events <span class="tagged-as"></span><span class="drop-caret"></span>
                %ul.drop-menu.menu-sort(role="menu")
                  %li
                    = link_to 'View My Schedule', my_schedule_path, data: {'allow-default' => true }

      %nav.schedule-tabs(data-bindable="schedule-track-filter" data-filter-element-class="schedule-module")<>
        - Track.all.each do |t|
          %button.btn(href="#" data-track="#{t.name}")<>= t.name

      %section
        %ol.module-list(data-bindable="schedule-addable-modules")
          - @sessions.group_by {|s| s.start_day }.sort_by { |d,s| d }.each_with_index do |(day,submissions_by_day),index|
            %div.module-group-header.schedule-header<>
              %span.schedule-day= Submission::DAYS[day]
              %span.schedule-date= (Date.new(2014, 9, 15) + index.days).strftime('%B %-d, %Y')
            - submissions_by_day.sort_by(&:start_hour).each do |submission|
              %li.schedule-module.module(id="submission_module_#{submission.id}" class="#{'schedule-selected' if registered? && current_registration.submissions.include?(submission)}" data-track="#{submission.track.name}" data-add-path="#{add_to_schedule_path(id: submission.id)}" data-remove-path="#{remove_from_schedule_path(id: submission.id)}")
                %div.module-contents.schedule-module-contents
                  %header.schedule-module-header
                    %a.dswacon.dswacon-panel-icon(class="dswacon-#{submission.track.icon}" title="#{submission.track.name}")
                    %h3.module-heading.panel-title
                      = link_to truncate(submission.title, length: 100, separator: ' '), schedule_path(submission)
                  %footer.schedule-module-footer
                    - if registered?
                      %a.dswacon(title="Add to My Schedule" data-addable="true")
                    - if submission.start_hour && submission.end_hour
                      - if submission.has_time_set?
                        %span.schedule-time= human_time_range(submission)
                        %br
                        %span.schedule-location-name= submission.human_location_name
                      - else
                        %span.schedule-location-name= submission.human_location_name


= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
