%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    %section.section-container.width-constrained
      = link_to 'Back to Schedule', schedules_path, class: 'btn back-to-schedule'
      %div.event-icon
        %a.dswacon.dswacon-panel-icon.current-event-icon(class="dswacon-#{@session.track.icon}" title="#{@session.track.name}")
      %h1.primary-heading= @session.title

      %div.event-description<>
        - cache [ @session, 'schedule-show' ] do
          %div.p-copy= process_with_pipeline(@session.description)

      %div.event-details<>
        %h3.event-details-heading Event Details
        %p.event-details-info
          #{@session.human_start_day} #{@session.start_datetime.strftime('%-m/%-d')}
          %br
          = @session.human_time_range
          %br
          %br
          - if @session.venue
            = @session.venue.name
            %br
            = @session.venue.address
          - else
            Location TBA
        %p.event-details-attending
          %span.dswacon.dswacon-people
          %span#registrant_count #{@session.registrants.count} people are attending

        %p.event-details-adder(class="#{'added' if registered_for_session?(@session)}" data-bindable="schedule-addable" data-add-path="#{add_to_schedule_path(id: @session.id)}" data-remove-path="#{remove_from_schedule_path(id: @session.id)}")
          - if registered?
            %a.btn.btn-primary.remove-btn Remove from my schedule
            %a.btn.btn-primary.add-btn Add to my schedule
          - elsif FeatureToggler.registration_active?
            = link_to 'Register & Build Your Schedule', new_registration_path, class: 'btn btn-primary'

    - if @session.venue
      %iframe.location-map(frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=#{URI.encode(@session.venue.address_for_google_maps)}&zoom=19&key=AIzaSyAvjqf7BI97ZjJRQVpuDxT3zL0Jh9hnC5c")
    %section.section-container.module-form.event-comment-section
      %h2.primary-heading Comments
      - if registered?
        %div.form-comment.event-form-comment
          = simple_form_for [ @session, Comment.new ], html: { class: 'dsw-form', role: 'form' } do |f|
            = field_set_tag do
              = f.input :body, placeholder: 'Comment on this idea...', input_html: { rows: 4 }
              %div.submit-btn-holder
                = f.button :submit, 'SUBMIT', class: 'btn btn-primary form-btn'
      %ol.event-comments
        %li.event-comment
          - if @session.comments.empty?
            No comments yet. Be the first!
          - @session.comments.each do |comment|
            %em.event-comment-heading= "#{comment.user.name} said:"
            - cache [ comment, 'schedule-show' ] do
              = process_with_pipeline(comment.body)

      = link_to 'Back to Schedule', schedules_path, class: 'btn back-to-schedule'

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
