%li.module(id="submission_module_#{submission.id}" data-description="#{submission.description}" data-popularity="#{1.0 / submission.votes.size}" data-track="#{submission.track.name}" data-submitter="#{submission.submitter.name}" class="#{submission.is_confirmed? ? 'confirmed' : ''}")
  = link_to submission, class: 'panel-toggle', title: 'Click for more details' do
    %span.dswacon.dswacon-plus
  %div.module-contents.voting-module
    %div.module-icon-cell
      %a.dswacon.dswacon-panel-icon(class="dswacon-#{submission.track.icon}" title="#{submission.track.name}")
    %div.module-details-cell
      %h3.module-heading.panel-title
        = link_to truncate(submission.title, length: 100, separator: ' '), submission
      %div.p-copy.panel-desc= truncate(submission.description, length: 200, separator: ' ')
      %div.track-copy(class="blue")= "Proposed by #{submission.submitter.name}"
  %div.voting-cell(data-bindable="ajax-voter")
    %h4.voting-heading= submission.votes.size > 0 ? submission.votes.size : 'No votes yet'
    %div.voting-engine
      - if EventSchedule.voting_open? && signed_in?
        = link_to '', submission_votes_path(submission), remote: true, method: :post, class: 'dswacon dswacon-vote-yes'
