%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container
      %h1.primary-heading Session submissions are now closed
      %div.p-copy
        Thanks for your interest in submitting a session for Denver Startup Week. Unfortunately, session submissions for #{current_year} are now closed.

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
