%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %section.section-container
      %h1.primary-heading Feedback is closed
      %div.p-copy
        Thanks for your interest in Denver Startup Week. Session feedback for #{current_year} is currently closed.

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
