
%section.section-container
  %h2.primary-heading View and vote on panel/workshop ideas

  .p-copy
    Hello there!

  - unless current_user
    %a.btn.btn-secondary.form-btn(href="/auth/linkedin?origin=#{submissions_path}")
      Hey there, stranger! Click here to sign in with LinkedIn so you can comment and vote.

  %section.filter-bar(data-bindable="filter-bar")
    %form.dsw-form.form-filter(role="form")
      %fieldset
        %div.control-group.search-filter(data-filterable="search-filter")
          %label.control-label.dswacon.dswacon-search(for="search_bar")
          %div.controls
            %input#search_bar(type="search" placeholder="Search")

        %div.control-group
          %div.controls
            %div.drop-select(data-filterable="drop-select" data-action="filter")
              %button.drop-toggle Filter by: <span class="tagged-as"></span><span class="drop-caret"></span>
              %ul.drop-menu.menu-filter(role="menu" data-filterable="menu-filter")
                - Track.all.each do |t|
                  %li(data-tag="track:#{t.name}")<
                    %a(href="#")= t.name

        %div.control-group
          %div.controls
            %div.drop-select(data-filterable="drop-select" data-action="sort")
              %button.drop-toggle Sort by: <span class="tagged-as"></span><span class="drop-caret"></span>
              %ul.drop-menu.menu-sort(role="menu" data-filterable="menu-sort")
                %li(data-tag="popularity")<
                  %a(href="#") Popularity
                %li(data-tag="track")<
                  %a(href="#") Track
                %li(data-tag="title")<
                  %a(href="#") Title


  %section.module-panels
    %ol.module-list(data-bindable="sortable-submissions")
      - @submissions.each do |submission|
        %li.module(id="submission_module_#{submission.id}" data-day="#{submission.day}" data-time="#{submission.time_range}" data-description="#{submission.description}" data-popularity="#{1.0 / submission.votes.count}")
          = link_to submission, class: 'panel-toggle' do
            %span.dswacon.dswacon-plus
          %div.module-contents.voting-module
            %div.module-icon-cell
              %a.dswacon.dswacon-panel-icon(class="dswacon-#{submission.track.icon}" title="#{submission.track.name}")
            %div.module-details-cell
              %h3.module-heading.panel-title
                = link_to truncate(submission.title, length: 100, separator: ' '), submission
              %div.p-copy.panel-desc= truncate(submission.description, length: 200, separator: ' ')
              %div.track-copy= "Proposed by #{submission.submitter.name}"
          %div.voting-cell(data-bindable="ajax-voter")
            %h4.voting-heading= submission.votes.count > 0 ? submission.votes.count : 'No votes yet'
            %div.voting-engine
              - if current_user
                = link_to '', submission_votes_path(submission), remote: true, method: :post, class: 'dswacon dswacon-vote-yes'

