%section.section-container
  %h2.primary-heading
    = link_to 'Help pick the sessions for 2013', submissions_path
%hr
%section.section-container
  .p-copy
    %a.dswacon.dswacon-panel-icon(class="dswacon-#{@submission.track.icon}" title="#{@submission.track.name}")
  %h1.primary-heading= @submission.title
  %h3.secondary-heading= "Proposed by #{@submission.submitter.name}"
  .p-copy= process_with_pipeline(@submission.description).html_safe

  %div.voting-comments
    %div.voting-cell(data-bindable="ajax-voter")
      %h4.voting-heading= @submission.votes.size > 0 ? @submission.votes.size : 'No votes yet'
      %div.voting-engine
        - if current_user
          = link_to '', submission_votes_path(@submission), remote: true, method: :post, class: 'dswacon dswacon-vote-yes'
- if current_user
  %hr
  %section.section-container.module-form
    %h2.primary-heading What Do You Think?
    %div.form-comment
      = simple_form_for [ @submission, Comment.new ], html: { class: 'dsw-form', role: 'form' } do |f|
        = field_set_tag do
          = f.input :body, placeholder: 'Comment on this idea...', input_html: { rows: 4 }
          %div.submit-btn-holder
            = f.button :submit, 'Submit', class: 'btn btn-primary form-btn'
- unless @submission.comments.empty?
  %hr
%section.section-container
  %ol.comments
    - @submission.comments.each do |comment|
      %li.comment
        %span.comment-heading= "#{comment.user.try(:name) || 'Anonymous'} said:"
        = comment.body

