%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %hr
    %section.section-container
      %h1.primary-heading
        Thanks for submitting!
      %div.p-copy#generic_copy
        We appreciate your interest and will be in touch. If you have any questions, comments, or concerns, please <a href="/faq">check out the FAQ</a> or  <a href="mailto:info@denverstartupweek.org">email us</a>.
        %br
        You're also welcome to <a href="#{new_submission_path}">submit another proposal</a> if you'd like.
= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
