%section.main
  %section.content
    = render partial: 'layouts/shared/navigation'
    = render partial: 'layouts/shared/masthead'
    %hr

    %section.section-container.module-form
      %div.form-carousel(data-bindable="dsw-carousel" data-keyboard="false" data-activate="0")
        %div.form-carousel-inner
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            %article.form-pane
              %div.form-contents
                %div.dswacon.dswacon-bulb.dswacon-combo-primary
                %h3.primary-heading Reset your password

                - flash.each do |key, message|
                  %div.notification(class="notification-#{key}")= message

                %form.dsw-form(role="form")
                  %fieldset
                    = f.input :email, required: true, placeholder: 'Email', label: false, error: true, autofocus: true

              = f.button :submit, 'Send reset instructions', class: 'btn btn-primary form-btn'

              %div.p-copy
                = render "users/shared/links"
        %div.carousel-controls

= render partial: 'layouts/shared/footer'
= render partial: 'layouts/shared/flash_message'
= render partial: 'layouts/shared/spinner'
