%section.section-container.module-involved
  %h2.primary-heading= @header
  = simple_form_for SponsorSignup.new, html: { class: 'dsw-form involve-form', honeypot: true, role: 'form', data: { bindable: 'sponsor-signup' } } do |f|
    .notification(style="display: none;")
    %fieldset
      = f.input   :contact_name, placeholder: 'What is your name?', required: true
      = f.input   :contact_email, placeholder: 'What is your e-mail address?', required: true
      = f.input   :company, placeholder: 'What company are you with?', required: true
      = f.input   :interest, placeholder: 'Are you interested in sponsoring any particular event or area of focus?', required: true, input_html: { rows: 2 }
      = f.input   :notes, placeholder: 'Any additional notes/comments?', input_html: { rows: 2 }
    .form-actions
      = f.button :submit, @submit_text, class: 'btn primary'
