<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <!-- If you delete this meta tag, the ground will open and swallow you. -->
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Denver Startup Week</title>
  <%= stylesheet_link_tag 'daily_schedule_email' %>
</head>

<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#415464">
  <tr>
    <td></td>
    <td class="header container" align="">

      <!-- /content -->
      <div class="content">
        <table bgcolor="#415464" >
          <tr>
            <td><%= image_tag 'daily_schedule_email/dsw_200x50.png' %></td>
            <td align="right"><h6 class="collapse">Your Daily Schedule for <%= formatted_start_date_for_index(@day, '%A, %b. %-d') %></h6></td>
          </tr>
        </table>
      </div><!-- /content -->

    </td>
    <td></td>
  </tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap" bgcolor="">
  <tr>
    <td></td>
    <td class="container" align="" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>

              <h1>Three Days Down, Two To Go!</h1>
              <p class="lead">
                The amazing momentum and rapid pace of the week continued Wednesday with incredible sessions all around downtown throughout the day, 15+ companies opening their doors to the community and demonstrating their unique sense of community during the startup crawl and afterparty, inspiring conversations at Denver Founders Network, incisive and hilarious talks at Insight Night, and a major celebration of the health tech community at the Digital Health Challenge. Plus, a little celebration with Governor John Hickenlooper to mark a Denver Startup Week record - 10,000 registered attendees! And we're not even close to done - there are 51 more amazing events awaiting you today.
              </p>

              <!-- A Real Hero (and a real human being) -->
              <p><%= image_tag 'daily_schedule_email/commons.jpg', title: 'A session underway at the Commons on Champa' %></p><!-- /hero -->
              <p>Check out your <a href="<%= my_schedule_url %>">personal schedule</a> of events for today below. As always, if you have any questions, comments or concerns throughout the week, please feel free to stop by Basecamp at 16th &amp; Arapahoe or reach out to us via e-mail at <a href="mailto:info@denverstartupweek.org">info@denverstartupweek.org</a>. We're here to help!</p>
            </td>
          </tr>
        </table>
      </div><!-- /content -->

      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <td>

            <!-- Callout Panel -->
            <p class="callout">Please be aware that many of this week's sessions are close to or at venue capacity. <strong>We recommend that you arrive early in order to ensure admission.</strong></p><!-- /callout panel -->

          </td>
        </tr>
      </table></div><!-- /content -->

      <% @sessions.each do |submission| %>
        <!-- content -->
        <div class="content">

          <table bgcolor="">
            <tr>
              <td class="small" width="20%" style="vertical-align: top; padding-right:10px;"><%= image_tag "daily_schedule_email/#{submission.track.icon}.png" %></td>
              <td>
                <h4><%= submission.title %><small> <%= submission.human_time_range %></small></h4>
                <p class=""><%= submission.description.truncate(200, separator: ' ') %></p>

                <%= link_to 'Event Details &raquo;'.html_safe, schedule_url(submission), class: 'btn' %>
              </td>
            </tr>
          </table>

        </div><!-- /content -->
      <%- end %>

      <!-- content -->
      <div class="content"><table bgcolor="">
        <tr>
          <td>

            <!-- Callout Panel -->
            <p class="callout">We're always looking to improve the quality of events at Denver Startup Week. If you have feedback on sessions you have attended, we would love to hear it!<br /><%= link_to 'Take the session survey &raquo;'.html_safe, 'https://docs.google.com/forms/d/1QvYfca4LWRZbVv3Sfycc7U_HoL7CYjip9E9KO7gYpGY/viewform' %></p><!-- /callout panel -->

          </td>
        </tr>
      </table></div><!-- /content -->

      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>
              <!-- A Real Hero (and a real human being) -->
              <p><%= image_tag 'daily_schedule_email/uber_2015.png' %></p><!-- /hero -->
              <p>Our friends at Uber are providing $20 off a ride for new Uber users attending Denver Startup Week 2015!</p>
              <p>To claim your discounted ride, please sign up for an Uber account by downloading the app to your iPhone or Android, and enter code DSW2015 under "Promotions." Or just sign up at <a href="https://get.uber.com/go/DSW2015">https://get.uber.com/go/DSW2015</a>.</p>

              <p>Uber is a mobile app for your smartphone that connects you with private drivers on-demand. With the push of a button, a car will arrive within minutes and get you where you need to go!</p>
            </td>
          </tr>
        </table>
      </div><!-- /content -->

      <!-- content -->
      <div class="content">
        <table bgcolor="">
          <tr>
            <td>

              <!-- social & contact -->
              <table bgcolor="" class="social" width="100%">
                <tr>
                  <td>

                    <!--- column 1 -->
                    <div class="column">
                      <table bgcolor="" cellpadding="" align="left">
                    <tr>
                      <td>

                        <h5 class="">Connect with Us:</h5>
                        <p class="">
                          <a href="https://www.facebook.com/DenverStartupWeek" class="soc-btn fb">Facebook</a>&nbsp;
                          <a href="https://twitter.com/DENStartupWeek" class="soc-btn tw">Twitter</a>
                      </td>
                    </tr>
                  </table><!-- /column 1 -->
                    </div>

                    <!--- column 2 -->
                    <div class="column">
                      <table bgcolor="" cellpadding="" align="left">
                    <tr>
                      <td>

                        <h5 class="">Contact Info:</h5>
                        <p>
                          Email: <strong><a href="mailto:info@denverstartupweek.org">info@denverstartupweek.org</a></strong>
                        </p>
                      </td>
                    </tr>
                  </table><!-- /column 2 -->
                    </div>

                    <div class="clear"></div>

                  </td>
                </tr>
              </table><!-- /social & contact -->

            </td>
          </tr>
        </table>
      </div><!-- /content -->


    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">

        <!-- content -->
        <%# <div class="content"> %>
          <%# <table> %>
            <%# <tr> %>
              <%# <td align="center"> %>
                <%# <p> %>
                  <%# <a href="#">Terms</a> | %>
                  <%# <a href="#">Privacy</a> | %>
                  <%# <a href="#"><unsubscribe>Unsubscribe</unsubscribe></a> %>
                <%# </p> %>
              <%# </td> %>
            <%# </tr> %>
          <%# </table> %>
        <%# </div>[> /content <] %>

    </td>
    <td></td>
  </tr>
</table><!-- /FOOTER -->

</body>
</html>
