!!! 5
<!--[if lte IE 7]>  <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie10 lt-ie9" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]>      <html class="no-js lt-ie10" lang="en" xmlns:og="http://ogp.me/ns#"> <![endif]-->
<!--[if gt IE 9]><!-->
%html.no-js(lang="en" xmlns:og="http://ogp.me/ns#")
  <!--<![endif]-->
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title= content_for(:title).presence || @page.try(:browser_title) || 'Denver Startup Week'
    %meta(name="description" content="#{content_for(:description).presence || @page.try(:description) || 'Denver Startup Week'}")
    %meta(name="keywords" content="#{content_for(:keywords).presence || @page.try(:keywords) || 'Denver Startup Week'}")
    %meta(name="author" content="Mode Set")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="imagetoolbar" content="no")
    %meta(name="apple-touch-fullscreen" content="yes")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    = stylesheet_link_tag :application, :media => "all"

    /[if lte IE 8]
      = stylesheet_link_tag :dinosaur, :media => "all"
      = javascript_include_tag :polyfill
      -# Respond needs this hackery to work properly on a CDN
      - unless ActionController::Base.asset_host.nil?
        %link(href="#{asset_path('respond-proxy.html')}" id="respond-proxy" rel="respond-proxy")
        %link(href="#{asset_path('respond.proxy.gif')}" id="respond-redirect" rel="respond-redirect")
        = javascript_include_tag javascript_path('respond.proxy.js')

    :javascript
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40894134-1']);
      _gaq.push(['_setDomainName', '.denverstartupweek.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      (function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
      mixpanel.init("86910e1c1d52021f6b9e83a91fa9a065");

    %link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css")
    %script(src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js")
    %script(src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=#{ENV['MAPQUEST_API_KEY']}")
    %script(src="http://www.mapquestapi.com/sdk/leaflet/v1.s/mq-geocoding.js?key=#{ENV['MAPQUEST_API_KEY']}")

    = csrf_meta_tag

  %body(id="#{'mercury_invasion' if in_mercury_invasion?}" class="body-#{current_body_class}" role="document")
    = yield
    = jquery_include_tag :google, :"data-turbolinks-eval" => false
    = javascript_include_tag :application, :"data-turbolinks-eval" => false
    %div(style="display: none;")
      %a(href="https://plus.google.com/105192639808515157053" rel="publisher")Google+


