= simple_form_for NewsletterSignup.new, html: { class: 'form-stack', data: { bindable: 'newsletter-signup' } } do |f|
  .notification(style="display: none;")
  %fieldset
    = f.input   :first_name, label: 'First Name', required: true
    = f.input   :last_name, label: 'Last Name', required: true
    = f.input   :email, label: 'E-mail Address', required: true
  .form-actions
    = f.button :submit, @submit_text, class: 'btn primary'
